.usercp {
    position: absolute;
    background-color:rgba(255, 255, 255, 0.8);
    width: 320px;
    height: 430px;
    top: 40%;
    left: 50%;
    padding: 49.5px;
    margin-top: -200px;
    margin-left: -150px;
    border-radius: 15px;
}